<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/dist/css/bootstrap.min.css">
</head>
<body>
    <!-- 콘텐츠와 푸터를 담는 래퍼 -->
    <div class="content-wrapper">
        <div class="main-profile">
            <div class="profileImage">
                <img class="profile_img" src="<%= data.profileImage %>" alt="profile image" />
            </div>
            <div class="profile_content">
                <h1><%= data.username %></h1>
                <a href="/home/profile/setting/add/<%= data._id %>">
                    <img src="/images/setting.svg" alt="setting" />
                </a>
            </div>
            <p><%= data.description %></p>
        </div>
        <hr style="margin: 0;">
        <nav class="profile_navbar">
            <ul>
                <li><a href="/home/profile">Image</a></li>
                <li><a href="/home/profile/log">Log</a></li>
                <li><a href="/home/profile/media">Media</a></li>
                <li class="upload-button">
                    <a href="<%= locals.herf %>"><img src="/images/add.svg" alt="add"></a>
                </li>
            </ul>
        </nav>
        <hr style="margin: 0;">
        <div class="main-content">
            <%- body %>
        </div>
        <footer>
            여기는 footer 입니다.
        </footer>
    </div>

    <script src="/js/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery/dist/jquery.min.js"></script>
    <script src="/js/masonry-layout/dist/masonry.pkgd.min.js"></script>
    <script src="/js/imagesloaded/"></script>
    <!-- 마세노리 -->
    <script>
        $(document).ready(function () {
            $('.grid').masonry({
                itemSelector: '.grid-item',
                columnWidth: '.grid-sizer',
                percentPosition: true
            });
        });
    </script>

    <!-- media 마세노리 -->
    <script>
    document.querySelectorAll('.media-video').forEach(video => {
        video.addEventListener('click', function () {
        if (video.paused) {
            // 다른 영상 정지
            document.querySelectorAll('.media-video').forEach(v => {
            if (v !== video) v.pause();
            });
            video.play();
        } else {
            video.pause();
        }
        });
    });
    </script>


</body>
</html>